
</div>
</body>
<footer class="fixed-bottom footer mt-3 py-3 bg-light">
  <div class="container">
    <p class="text-muted" style="text-align: center;">Copyright No one, free country</p>
  </div>
</footer>
</html>
