<%- include("partials/header") %> 
    <div  style="padding-bottom: 35px; padding-top: 35px;">
        <h1>Contact</h1>
        <p><%= contactContent %> </p>
    </div>
    
<%- include("partials/footer") %> 